fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic-settings==2.10.1
python-dotenv==1.1.1
mistralai==1.9.7
azure-search-documents==11.6.0
azure-storage-blob==12.26.0
azure-identity==1.23.1
PyJWT[crypto]==2.10.1
pymupdf==1.26.3
langchain-text-splitters==0.3.9
pandas==2.3.1
openpyxl==3.1.5
python-pptx==1.0.2
botbuilder-core==4.16.2
botbuilder-schema==4.16.2
httpx==0.28.1
streamlit==1.47.1

fastembed
aiohttp==3.12.15
